<%= stylesheet 'codemirror.css' %>
<%= stylesheet 'codemirror-solarized.css' %>
<%= js 'jquery.js' %>
<%= js 'codemirror.js' %>
<%= js 'start_audio_context.js' %>
<%= js 'ruby.js' %>
<%= js 'editor.js' %>

<div class="row" id="wrapper">
  <div id="editor_wrapper" class="col-md-6">
    <a href="#" id="run_code" class="btn btn-primary">Run (Cmd+Enter)</a>
    <a href="#" id="link_code" class="btn">Link</a>
    <p></p>
    <div id="editor" class="well" style="padding:0"></div>
  </div>
  <div class="col-md-6">
    <a href="#" class="btn disabled">Compiled Javascript</a>
    <p></p>
    <div id="viewer" class="well" style="padding:0">
    </div>
  </div>
</div>
