<%= stylesheet 'app.css' %>
<%= stylesheet 'codemirror.css' %>
<%= stylesheet 'codemirror-solarized.css' %>
<%= js 'jquery.js' %>
<%= js 'codemirror.js' %>
<%= js 'start_audio_context.js' %>
<%= js 'ruby.js' %>
<%= js 'hydra_bundle.js' %>
<%= js 'editor.js' %>

<div class="row" id="wrapper">
  <div id="editor" style="padding:0"></div>

  <div id="output" style="padding:0">
  </div>

  <canvas id="hydra-canvas">
  </canvas>
</div>
